<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .title {
        color: grey;
        font-size: 18px;
    }

    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    button:hover,
    a:hover {
        opacity: 0.7;
    }
</style>
<h2 style="text-align:center"></h2>
<div class="card">.
    <img src="img/drivers/{{driver.Driver.driverId}}.png" alt={{driver.Driver.familyName}} style="width:50%;margin-top:15px;">
    <h1>{{driver.Driver.givenName}} {{driver.Driver.familyName}}</h1>
    <p class="title">Country: {{driver.Driver.nationality}}</p>
    <p>Team: {{driver.Constructors[0].name}}</p>
    <p>Birth: {{driver.Driver.dateOfBirth}}</p>
    <div style="margin: 24px 0;">
        <a href="#">
            <i class="fa fa-dribbble"></i>
        </a>
        <a href="#">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fa fa-linkedin"></i>
        </a>
        <a href="#">
            <i class="fa fa-facebook"></i>
        </a>
    </div>
    <p>
        <a href="{{driver.Driver.url}}" target="_blank">
            <button>Biography</button>
        </a>
    </p>
</div>
<div class="container">
    <div class="row">
        <section class="content">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-right">
                            <a href="./#/drivers" class="text-primary">
                                <- Back to drivers list </a>
                        </div>
                        <div class="table-container">
                            <driver-history races="races"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>